.divItemList{
    display: flex;
    position: relative;
    bottom: 1em;
    justify-content: center;
}

.spinerItemList{
    height: 50%;
    width: 50%;
    margin-top: 20em;
    justify-content: center;
    text-align: center;
    left: 33em;
    position: relative;
}

.mapStyle{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}