.detailObjContainer{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 10px 25em;
    position: relative;
    top: 8em;
}

.detailObjChildren{
    justify-content: center;
    text-align: center;
    padding: 7em 5em;
}

.spinerC{
    height: 50%;
    width: 50%;
    margin-top: 20em;
    justify-content: center;
    text-align: center;
    left: 33em;
    position: relative;
}

#aStyle{

  outline: none;
  text-decoration: underline;
  display: inline-block;
  width: 50%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 1;
  color: black;
  padding-top: 3em;
}

#aStyle:hover{
    color: red;
}