.detailObjContainer{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 10px 25em;
    position: relative;
    top: 10em;
}

.detailObjChildren{
    justify-content: center;
    text-align: center;
    padding: 6em 5em;
    display: flex;
    flex-direction: column;
}

.spinerC{
    height: 50%;
    width: 50%;
    margin-top: 20em;
    justify-content: center;
    text-align: center;
    left: 33em;
    position: relative;
}

.spinerCh2{
    height: 50%;
    width: 50%;
    justify-content: center;
    text-align: center;
    left: 22em;
    bottom: 5em;
    position: absolute;
}

#aStyle:hover{
    color: red;
}

.btn-detail{
    cursor: pointer;
  min-width: 150px;
  padding: 10px 5px;
  text-transform: uppercase;
  vertical-align: middle;
  background: black;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(8, 8, 8);
  transition: all 1s;
  margin: 1.5em;
}

.appDetail{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinnerItemListeee{
    margin: 0;
    padding: 0;
    position: relative;
    top: 20em;
}

@media only screen and (max-width: 767px){
    
    .detailObjContainer{
    display: flex;
    justify-content: center;
    /* margin: 10px 25em; */
    /* position: relative; */
    /* top: 8em; */
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 3em;
    left: 1em;
    /* top: 2em; */
    bottom: 100px;
    border: white;
    box-sizing: content-box;
    /* background-color: blue; */
    height: 2em;
    width: 2em;
    margin-top: 42em;
    margin-left: 10em;
    }

    .detailObjContainer img{
        width: 15em;
        height: 15em;
        position: absolute;
        z-index: 1;
        bottom: 11em;
        left: 5em;
        display: flex;
        justify-content: center;
    }

    .detail_container{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 0; */
    }

    .detailObjChildren{
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* padding: 7em 5em; */
        box-sizing: content-box;
        position: absolute;
        /* margin: 10em auto; */
        /* background-color: yellow; */
        top: -17em;
        font-size: 15px;
        left: 1.5em;
        margin-top: 2em;
    }

    .detail_containerChildren{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .btn-detail{
        cursor: pointer;
      min-width: 150px;
      /* padding: 10px 5px; */
      text-transform: uppercase;
      vertical-align: middle;
      background: black;
      border: none;
      color: #ffffff;
      font-weight: 600;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(8, 8, 8);
      transition: all 1s;
    }

    .spinnerItemListeee{
        height: 20px;
        width: 20px;
        /* margin-top: 10em; */
        justify-content: center;
        text-align: center;
        left: 400em;
        top: 11em;
        position: relative;
    }
  
    .spinnerItemListeee h2{
      position: relative;
      left: 0.7em;
    }

    .appDetail{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }
    
  }