
.landing {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

    #spanLanding{
    justify-content: center;
    top: 2em;
    position: relative;
    font-size: 2em;
    font-weight: bold;
  text-align: center;
  color: lightblue;
   -webkit-animation: changeColor 80s ease-in infinite;
   animation: changeColor 3s ease-in infinite;
  }

  @keyframes changeColor{
    0% {color: lightblue;}
    50% {color: lightgray}
    100% {color: lightslategray}
  }