
.landing {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

    #spanLanding{
    justify-content: center;
    top: 0.4em;
    position: relative;
    font-size: 2em;
    font-weight: bold;
  text-align: center;
  color: lightblue;
   -webkit-animation: changeColor 80s ease-in infinite;
   animation: changeColor 3s ease-in infinite;
  }

  .spinnerItemListee{
    margin: 0;
    padding: 0;
    position: relative;
    top: 20em;
  }

  @keyframes changeColor{
    0% {color: lightblue;}
    50% {color: lightgray}
    100% {color: lightslategray}
  }

  @media only screen and (max-width: 767px){
    #spanLanding{
      font-size: 1.5em;
      top: 0.5em;
    }
    .spinnerItemListee{
      height: 20px;
      width: 20px;
      /* margin-top: 10em; */
      justify-content: center;
      text-align: center;
      left: 20em;
      top: 11em;
      position: relative;
  }

  .spinnerItemListee h2{
    position: relative;
    left: 0.7em;
  }
  
}
