*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.logo_header{
    height: 3em;
    width: 3em;
    border-radius: 10em;
    margin-top: 0.8em;
}

h1{
    color: white;
    font-size: 2.4em;
    margin-top: 0.7em;
}

.nav{
    color: red
}

@media only screen and (max-width: 767px){
    header{
        height: 439px;
        flex-direction: column;
        text-align: center;
        margin-top: -4.7em;
    }

    .logo_header{
        visibility: hidden;
    }

    h1{
        color: black;
    font-size: 1.3em;
    text-decoration: underline;
    background-color: white;
    padding: 8px;
    margin-top: -0.1em;
    }

    .nav{
        color: red;
        margin: 0;
        position: relative;
        bottom: 1em;
    }
}