.divCart{
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

#i_cart{
    padding-top: 1.8em;
    z-index: 100;
}

.spanWidget{
    color:white;
    position: inherit;
    top: 0.1em;
}

.cart-btn{
    outline: none;
    border-radius: 10px;
    font-size: 1.4em;
    color: white;
    background-color: black;
}

.buttonNumber{
    height: 1.4em;
    width: 1.4em;
    border-radius: 10em;
    /* margin-top: 9em; */
    background-color: red;
    top: 1.9em;
    position: relative;
}

.buttonNumber_badge{
    color: wheat;
}
