.divCart{
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.cart-btn{
    outline: none;
    border-radius: 10px;
    font-size: 1.4em;
    color: white;
    background-color: black;
}
